[user]
	name = Ross Hadden
	email = rosshadden@gmail.com
[core]
	editor = vi
[mergetool "subl"]
	cmd = subl -w $MERGED
	trustExitCode = false
[merge]
	#tool = subl
	tool = meld

[color]
	ui = true
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = red reverse
	local = blue
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
	# natives
	diff = diff --word-diff
	grep = grep -Ii

	# file-system metaphor
	ls = ls-files
	cat = log -u --word-diff
	pwd = rev-parse --abbrev-ref HEAD
	find = "!git ls-files | grep -i"

	# shortcuts
	amend = commit --amend
	a = add
	c = commit
	s = status -sb
	co = checkout
	rb = rebase
	df = diff --word-diff
	staged = diff --staged --word-diff
	unstage = reset HEAD --
	scrap = "!sh -c 'git reset --hard ${1-HEAD}' -"

	# dynamic
	in = "!sh -c 'git pull ${1-origin} ${2-$(git pwd)}' -"
	out = "!sh -c 'git push ${1-origin} ${2-$(git pwd)}' -"
	sync = "!git in && git out"

	# logging
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -n64
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat -n32
	lawg = "!sh -c 'git --no-pager log --reverse --author=Ross --no-merges --format=format:\"%s%n    %b\" origin/$(git pwd)..$(git pwd)' -"
	new = "!sh -c 'git log $1@{1}..$1@{0} "$@"' -"
	g = grep --break --heading --line-number

	# utility
	sb = !ls .git/refs/remotes/*/$(git pwd) | cut -d/ -f4,5 | \
		xargs git show-branch $(git pwd)
	track = update-index --no-assume-unchanged
	untrack = update-index --assume-unchanged
[remote "origin"]
	#fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
[grep]
	extendRegexp = true
	lineNumber = true
[push]
	#default = simple
