# general
*.dat
*.swp

# meta
THEME
node_modules
lib/themes

# apps
src/.config/copyq/.copyq_m
src/.config/copyq/.copyq_s
src/.config/copyq/copyq-bak.conf
src/.config/copyq/copyq_geometry.ini
src/.config/copyq/copyq_tabs.ini
src/.config/nvim/.init.vim-rplugin~
src/.config/nvim/plugged
src/.config/nvim/sessions
src/.config/ranger/**/__*
src/.config/ranger/bookmarks
src/.config/ranger/history
src/.config/ranger/tagged
src/.config/systemd/user/default.target.wants
src/.config/systemd/user/timers.target.wants
src/.vifm/Trash
src/.vifm/vifminfo*
src/.vifm/vimfiles
src/.vim/spell/*.spl
src/.config/gtk-3.0/bookmarks
src/.config/nvim/autoload/plug.vim.old
src/.config/vis/vis.log
