* {
	all: unset;
}

@mixin bar() {
	background-color: #000000;
	border-radius: 8px;
	border: 1px solid #ffffff;
}

.bar {
	@include bar;

	border-radius: 0 0 8px 8px;
	border-top: 0;

	button.current {
		background: purple;
	}
}

.info {
	@include bar;

	border-radius: 8px 8px 0 0;
	border-bottom: 0;
}
