* {
	// all: unset;
	font-family: "Fairfax Hax HD";
	font-family: "Monocraft";
	font-size: 14px;
	color: #ffffff;
}

@mixin bar() {
	background-color: #000000;
	border-radius: 8px;
	border: 1px solid #ffffff;
}

@mixin top() {
	border-radius: 0 0 8px 8px;
	border-top: 0;
}

@mixin bottom() {
	border-radius: 8px 8px 0 0;
	border-bottom: 0;
}

.top {
	@include bar;
	@include top;

	button {
		@include top;

		background: rgba(0, 0, 0, 0.0);
		border: 1px solid rgba(0, 0, 0, 0.0);
		border-top: 0;
		padding: 0px;

		&.current {
			background: purple;
			border: 1px solid #ffffff;
			border-top: 0;
		}
	}
}

.bottom {
	@include bar;
	@include bottom;

	.abnormal {
		background-color: red;
	}
}

.eos * {
	background: #000000;
}
