@theme "purple"

configuration {
	modi: "window,run,ssh,drun";
	width: -128;
	lines: 16;
	font: "Fira Code 10";
	bw: 4;
	location: 0;
	padding: 32;
	fixed-num-lines: true;
	show-icons: true;
	terminal: "rofi-sensible-terminal";
	sort: false;
	eh: 2;
	matching: "regex";
	m: "-1";
	line-margin: 4;
	separator-style: "solid";
	hide-scrollbar: true;
	fullscreen: false;
	threads: 0;
	window-format: "{w}    {c}    {n}    {t}";
}
