[user]
	name = Ross Hadden
	email = rosshadden@gmail.com
[core]
	editor = vim
	excludesfile = /home/ross/dotfiles/git/.gitignore-global
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = diffconflicts gvim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
[mergetool "subl"]
	cmd = subl -w $MERGED
	trustExitCode = false
	keepBackup = false
[color]
	ui = true
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = red reverse
	local = blue
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
	# SHORTHAND

	a = add
	b = branch
	c = commit
	d = diff
	f = fetch
	i = in
	m = merge
	o = out
	r = remote
	s = status -sb
	t = tag
	ch = checkout
	co = checkout
	rb = rebase
	sh = show

	# SEARCHING
	g = grep -I --ignore-case --line-number --heading --break

	# DYNAMIC

	in = "!sh -c 'git pull ${1-origin} ${2-$(git pwd)}' -"
	out = "!sh -c 'git push ${1-origin} ${2-$(git pwd)}' -"
	sync = "!git in && git out"

	# METAPHORS

	# list file names
	find = ls-files
	# list files
	ls = ls-files
	# current branch
	pwd = rev-parse --abbrev-ref HEAD
	# get recent commits on a file
	tail = log --patch --word-diff

	# LOGGING

	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -n64
	lgs = "!git lg --stat"
	new = "!git lg HEAD..FETCH_HEAD"
	news = "!git lgs HEAD..FETCH_HEAD"
	lawg = log --reverse --author=Ross --no-merges --format=format:\"%s%n    %b\"
	lawg-new = "!sh -c 'git --no-pager log --reverse --author=Ross --no-merges --format=format:\"%s%n    %b\" origin/$(git pwd)..$(git pwd)' -"

	# UTILITY

	amend = commit --amend -C HEAD
	sb = !ls .git/refs/remotes/*/$(git pwd) | cut -d/ -f4,5 | xargs git show-branch $(git pwd)
	scrap = "!sh -c 'git reset --hard ${1-HEAD}' -"
	track = update-index --no-assume-unchanged
	unstage = reset HEAD --
	untrack = update-index --assume-unchanged

	# DIFFS

	df = diff --word-diff
	staged = diff --staged --word-diff

	# STASH

	sl = stash list
	ss = stash save
	sa = "!sh -c 'git stash apply stash@{$1}' -"
	sp = "!sh -c 'git stash pop stash@{$1}' -"
	sd = "!sh -c 'git stash drop stash@{$1}' -"
[remote "origin"]
	#fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
[grep]
	extendRegexp = true
	lineNumber = true
[push]
	default = simple
