! TODO: modularize.exe

!!!!!!!!!!!!!!!!
!! FONTS
!!!!!!!!!!!!!!!!

*font: Fantasque Sans Mono 12
*boldFont: Fantasque Sans Mono Bold 12
*italicFont: Fantasque Sans Mono Italic 12
*boldItalicFont: Fantasque Sans Mono Bold Italic 12
*faceName: Fantasque Sans Mono 12
*faceSize: 12

!!!!!!!!!!!!!!!!
!! THEME
!!!!!!!!!!!!!!!!

#include "/home/ross/dotfiles/lib/themes/xresources.xresources"

*.highlightbg: #875fd7
*.highlightfg: #ffffff
*.bordercolor: #5f00af
*.opacity: 100
*.terminal: termite

!!!!!!!!!!!!!!!!
!! CURSOR
!!!!!!!!!!!!!!!!

Xcursor.theme: Polar
Xcursor.size: 48

!!!!!!!!!!!!!!!!
!! DMENU
!!!!!!!!!!!!!!!!

#include "/home/ross/dotfiles/lib/themes/dmenu.xresources"

!!!!!!!!!!!!!!!!
!! ROFI
!!!!!!!!!!!!!!!!

#include "/home/ross/dotfiles/lib/themes/rofi.xresources"

rofi.borderwidth: 3
rofi.padding: 3
rofi.lines: 25
rofi.width: -64
