! TODO: modularize.exe

!!!!!!!!!!!!!!!!
!! FONTS
!!!!!!!!!!!!!!!!

*font: Fira Code 12
*boldFont: Fira Code Bold 12
*italicFont: Fira Code Italic 12
*boldItalicFont: Fira Code Bold Italic 12
*faceName: Fira Code 12
*faceSize: 12

!!!!!!!!!!!!!!!!
!! THEME
!!!!!!!!!!!!!!!!

#include "/home/ross/dotfiles/lib/themes/xresources"

*.highlightbg: #875fd7
*.highlightfg: #ffffff
*.bordercolor: #5f00af
*.opacity: 100
*.terminal: termite

!!!!!!!!!!!!!!!!
!! CURSOR
!!!!!!!!!!!!!!!!

Xcursor.theme: Polar
Xcursor.size: 32
