[Unit]
Description=Simple X Hotkey Daemon
Documentation=man:sxhkd(1)
# BindsTo=ly.service
# After=ly.service

[Service]
ExecStartPre=/usr/bin/sleep 1 && /usr/bin/systemctl --user import-environment DISPLAY XAUTHORITY
ExecStart=/usr/bin/sxhkd
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID

[Install]
WantedBy=graphical-session.target
