[Unit]
Description=Simple X Hotkey Daemon
Documentation=man:sxhkd(1)
# BindsTo=ly.service
# After=ly.service

[Service]
ExecStart=/usr/bin/sxhkd
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID

[Install]
WantedBy=default.target
